@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Poppins:wght@100&display=swap");
body {
  margin: 0;
  font-family: "Orbitron", sans-serif;

  background-color: #eceff1;

  color: rgb(11, 11, 24);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
