.Pokedex {
  text-align: center;
}

.Pokedex-title {
  margin: 0;
}

.Pokedex-Exp {
  margin: 0;
}
.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color: green;
}

.Pokedex-loser {
  color: red;
}
